{% extends "base.html" %}

{% block title %}Domů{% endblock %}

{% block content %}
<div class="container">
    <h2>Data</h2>
    <div class="row p-3">
        <div class="col-md-6">
            <label for="itemsCount">Počet zobrazovaných položek: <span id="sliderValue">{{ total_items }}</span></label>
            <input type="range" class="custom-range" id="itemsCount" min="0" max="{{ total_items }}" value="5" oninput="updateSliderValue(this.value)">
        </div>
        <div class="col-md-6">
            <div class="row p-3 md-1">
                <div class="col-md-12">
                    <label for="deleteCount">Počet položek k smazání: <input type="number" id="deleteCount" min="1" max="{{ total_items }}" value="1"></label>
                </div>

            <div class="row p-3">
                <div class="col-md-12">
                    <button class="btn btn-danger" onclick="deleteOldestItems()">Smazat položky</button>
                </div>
            </div>

            </div>
        </div>
    </div>



    <div class="row" id="itemsContainer">
        {% for item in items %}
        <div class="col-md-4">
            <div class="card m-3">
                <div class="card-body">
                    <h5 class="card-title">Teplota: {{ item.temperature }}°C, Humidita: {{ item.humidity }}%</h5>
                    <button type="button" class="btn btn-danger" onclick="deleteItem('{{ item.id }}')">Smazat</button> //TODO: implementovat mazání jednotlivých položek skrze id ? -> nutno přidat do jsonu
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const slider = document.getElementById('itemsCount');
    const totalItems = {{ total_items }};
    slider.max = totalItems;
});

function updateSliderValue(value) {
    document.getElementById('sliderValue').textContent = value;
    fetch('/filter-data', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({itemsCount: value}),
    })
    .then(response => response.json())
    .then(data => {
        const itemsContainer = document.getElementById('itemsContainer');
        itemsContainer.innerHTML = '';
        data.forEach(item => {
            const itemElement = document.createElement('div');
            itemElement.className = 'col-md-4';
            itemElement.innerHTML = `
                <div class="card m-3">
                    <div class="card-body">
                        <h5 class="card-title">Teplota: ${item.temperature}°C, Humidita: ${item.humidity}%</h5>
                        <button type="button" class="btn btn-danger" onclick="deleteItem('${item.id}')">Smazat</button>
                    </div>
                </div>
            `;
            itemsContainer.appendChild(itemElement);
        });
    })
    .catch((error) => {
        console.error('Chyba:', error);
    });
}


function deleteOldestItems() {
    const count = document.getElementById('deleteCount').value;
    fetch('/delete-oldest-items', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({count: count}),
    })
    .then(response => response.json())
    .then(data => {
        const slider = document.getElementById('itemsCount');
        const totalItems = data.total_items;
        slider.max = totalItems;
        document.getElementById('sliderValue').textContent = totalItems;
        updateSliderValue(document.getElementById('itemsCount').value);
    })
    .catch((error) => {
        console.error('Chyba:', error);
    });
}

</script>

{% endblock %}
