{% extends "base.html" %}

{% block title %}Přihlášení{% endblock %}

{% block content %}
<div class="container">
    <h2>Přihlášení</h2>
    <form id="loginForm" action="{{ url_for('login') }}" method="post">
        <div class="form-group">
            <label for="username">Jméno:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Heslo:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Přihlásit</button>
    </form>
    <div id="errorMessage" class="alert alert-danger mt-3" style="display: none;"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('#loginForm').on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $(this).serialize(),
            success: function(response) {
                if (response.message === 'Přihlášení úspěšné!') {
                    window.location.href = '/';
                } else {
                    $('#errorMessage').text(response.message).show();
                }
            },
            error: function(xhr, status, error) {
                $('#errorMessage').text(xhr.responseJSON.message).show();
            }
        });
    });
});
</script>
{% endblock %}
